@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);
@import url(https://fonts.googleapis.com/css?family=Muli);
@import url(https://fonts.googleapis.com/css?family=Poppins:400,600,700);


@mixin regular-font($font-family:$main-font, $font-weight:$regular-weight) {
    font-family: $font-family;
    font-weight: $font-weight;
}

$main-font: 'Poppins', sans-serif;
$regular-weight: 400;
$bold-weight: 700;
$semibold-weight: 600;

@mixin regular-font($font-family:$main-font, $font-weight:$regular-weight) {
    font-family: $font-family;
    font-weight: $font-weight;
}

@mixin semi-font($font-family:$main-font, $font-weight:$semibold-weight) {
    font-family: $font-family;
    font-weight: $font-weight;
}

@mixin bold-font($font-family:$main-font, $font-weight:$bold-weight) {
    font-family: $font-family;
    font-weight: $font-weight;
}

.p-title, .bold {
  @include semi-font();
}

span.regular {
  @include regular-font();
}
