// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$grey: #f4f4f4;

nav {
  background-color: $grey;
  height: 100px;
}

body {
  background-color:$grey;
}
