// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'typography'; // type


$grey: #f4f4f4;
$dark: #373737;
$pink: #FF999E;

nav {
  background-color: $grey;
  height: 100px;
}

body {
  background-color:$grey;
  @include regular-font();
}

.row {
  width: 100%;
  margin: 50px 0 50px 0;
}

.title {
  width: 100%;
  text-align: center;
  margin: 50px 0 50px 0;
}

.site-name, .logo {
  display: inline-block;
  vertical-align: middle;
  font-size: 3em;
  padding: 10px;
  font-weight: 700;
}

.profile-pic {
  img{
  border-radius: 50%;
  border: 5px solid #fff;
  max-width: 120px;
  }
}

.center {
  text-align: center;
}

ul {
  list-style: none;
  text-align: center;
  background-color: #fff;
  padding: 35px;
  li {
    display: inline-block;
  }
}

.big-txt {
  font-size: 5em;
  font-weight: 700;
}

.intro-container {
  width: 40%;
  margin: 0 auto;
}

li a {
    display: block;
    color: $dark;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
    @include bold-font();
    -webkit-transition: width 2s; /* Safari */
    transition: border-bottom 0.4s ease;
    border-bottom: 4px solid transparent;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    border-bottom: 4px solid $pink;

}

.logo {
  img {
    width: 100px;
  }
}
